/*// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
body {
	background-image: url("flag.jpeg");
	color: white;
}
video {
	width: 90%;
	height: 500px;
	background-color: black;
	margin: 50px;
}
h1 {
	text-align: center;
}
.center {
   
}
#title {
	display: inline-block;
}
.name {
	font-size: 20px;
}
img {
	width: 70px; 
	height: 50px;
	border-radius: 25%;

}
p {
	text-align: justify;
	margin: 5px 30px;
}
.chat_box {
	border: 1px solid black;
	padding: 5px;
	clear: both;
	background-color: rgba(000,000,000, 0.7);
}
ul {
	text-align: right;
	margin-right: 50px;
}
ul li {
	display: inline-block;
	padding: 5px 10px;
}
ul li a {
	text-decoration: none;
	padding: 10px 20px;
	background-color: silver;
	border-radius: 10px;
	border: 1px solid black;
}
ul li a:hover {
	box-shadow: 1px 1px 2px grey;
}
p a {
	text-decoration: none;
	padding: 10px 20px;
	background-color: silver;
	border-radius: 10px;
	border: 1px solid black;
}
p a:hover {
	box-shadow: 1px 1px 2px grey;
}